@using AdminRole.Models
@model AdminRole.Models.UserModel 

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateNew", "LoginAdmin", FormMethod.Post, new {id = "user-form"}))
    {
        @Html.AntiForgeryToken()
        <div class="container top">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="page-header"><h2>Create users</h2></div>
				
				<div role="form" class="delete-users">
				    <div class="form-group">
				        @Html.HiddenFor(o => o.User.userID)
				        <label for="us">Username</label>
				        @Html.TextBoxFor(u => u.User.username, new{@class="form-control", id="us", placeholder=""})
				        @Html.ValidationMessageFor(u => u.User.username) 
				    </div>
				    <div class="form-group">
				        <label>Password</label>
				        @Html.PasswordFor(u => u.User.password, new{@class="form-control", id="us", placeholder=""})
				        @Html.ValidationMessageFor(u => u.User.password) 
				    </div>
				    <div class="form-group">
				        <label>Time Zone</label>
                        @Html.DropDownListFor(o => o.User.TimeZoneId, TimeZoneInfo.GetSystemTimeZones().Select(o => new SelectListItem{Text = o.DisplayName, Value = o.Id}), new{@class="form-control", id="us", placeholder=""})
                        @Html.ValidationMessageFor(u => u.User.TimeZoneId)
				    </div>
				    <div class="form-group">
				        <label>User Role</label>
				        @Html.DropDownList("VlogaNaziv", ((SelectList) ViewBag.DropListVloge).Select(t => new SelectListItem(){Text = t.Text, Value = t.Text, Selected = (t.Text == ViewBag.SelectedVloga)}), Model.VlogaNaziv, new{@class="form-control", id="us"})
				    </div>

				    <div class="row customers">
				        <label class="col-sm-2">Customers</label>
                        <div class="col-sm-8">
				        @for (var i = 0; i < Model.User.CustomerTables.Count; i++)
                        {                    
				            <div class="ud">
                                @Html.DropDownListFor(o => o.User.CustomerTables[i].CustomType.Id_NewCustomerType, Model.GetCustomTypes(Model.User.CustomerTables[i].CustomType.Id_NewCustomerType), "Select", new {@class="form-control pull-left"})
                                @Html.HiddenFor(o => o.User.CustomerTables[i].CustomerID)
                                @Html.HiddenFor(o => o.User.CustomerTables[i].UserId)
                                @Html.HiddenFor(o => o.User.CustomerTables[i].Customer)
				                <button type="button" class="btn btn-danger pull-left delete-custom" data-id="@i">X</button>
				            </div>					
                        }
                        </div>  
                        				        
				    </div>
				  <div class="clearfix"></div>
				  <div class="form-group">
					<label>Customer</label>
					<button type="button" class="add-custom btn btn-success">Add Customer</button>
				  </div>
				  <div class="clearfix"></div><br />
				    <button type="submit" class="btn btn-default pull-left btn-primary" name="action">Save changes</button>
				    <button type="submit" class="btn btn-default pull-right btn-primary" onclick="RedirectToEdit()">Back to Edit Menu</button>
				    <script type="text/javascript">
    				    function RedirectToEdit() {
    				        var url = "@Url.Action("Registracija")";
    				        location.href = url;
    				    }
    				</script>
				</div>
				@Html.ValidationSummary(false)
			</div>
		</div>
		
		<div class="row">
		
			<div class="col-md-12">
				<hr />
				&copy; Actual I.T., d.d. 
			</div>
			
		</div>
		
    </div><!-- /.container -->
    }

<script type="text/javascript">
    $(function () {

        $('.add-custom').on('click', function (e) {
            e.preventDefault();
            var form = $('#user-form').serialize();
            form += "&act=addcustom";

            $.post('/LoginAdmin/CreateNew', form, function (data) {
                $('#user-form').replaceWith(data);
            });
        });

        $('.delete-custom').on('click', function (e) {
            e.preventDefault();
            var form = $('#user-form').serialize();
            form += "&act=deletecustom&idx=" + $(this).data('id');

            $.post('/LoginAdmin/CreateNew', form, function (data) {
                $('#user-form').replaceWith(data);
            });
        });

        $("#user-form").submit(function (e) {
            e.preventDefault();
            var form = $('#user-form').serialize();
            form += "&act=save";
            $.post('/LoginAdmin/CreateNew', form, function (data) {
                if (data == "success")
                    Redirect();
                else
                    $('#user-form').replaceWith(data);
            });
        });
    });

    function Redirect() {
        var url = "@Url.Action("Registracija")";
        location.href = url;
    }

</script>



