@model PagedList.IPagedList<AdminRole.Models.CustomType>
@using AdminRole.Models
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        @using (Html.BeginForm("CustomerTypeView", "LoginAdmin", FormMethod.Get))
        {
            @Html.AntiForgeryToken()          
            
            <section class="header">
                <div class="container top">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar">
                                <div class="container-fluid">
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div>
                                        <div class="navbar-left">
                                            <p class="navbar-text">Najdi stranko:</p>
                                            <div class="navbar-form navbar-left" role="search">
                                                <div class="form-group">
                                                    @Html.TextBox("searchStringCust", ViewBag.CurrentFilter as string, new { @class="form-control" })		                                 
                                                </div>
                                                <button type="submit" class="btn btn-primary">Išči...</button>
                                            </div>
                                        </div>

                                        <div class="navbar-right">
                                            <button type="button" class="btn btn-primary" onclick="Redirect()">Dodaj novo stranko</button>
                                            <script type="text/javascript">
                                                function Redirect() {
                                                    var url = "@Url.Action("CreateNewCustomerType")";
                                                    location.href = url;
                                                }
                                            </script>

                                            <button type="button" class="btn btn-info" onclick="RedirectToEdit()">Nazaj</button>
                                            <script type="text/javascript">
                                                function RedirectToEdit() {
                                                    var url = "@Url.Action("Registracija")";
                                                    location.href = url;
                                                }
                                            </script>
                                        </div>
                                    </div><!-- /.navbar-collapse -->
                                </div><!-- /.container-fluid -->
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
                               
         }

            <div class="container">                                      
                <div class="template">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID stranke</th>
                                <th>Stranka</th>
                                <th>Izbriši</th>
                            </tr>
                        </thead>
                        @foreach (var use in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => use.Id_NewCustomerType)</td>
                                    <td>@Html.DisplayFor(modelItem => use.CustomerType)</td>
                                    <td>@Html.ActionLink("Izbriši", "DeleteCustomerType", new { id = use.Id_NewCustomerType })</td>
                                </tr>                                           
                            </tbody>   
                        }                        
                    </table>
                </div>
                <div class="row">
                    @Html.PagedListPager(Model, pageCust => Url.Action("CustomerTypeView", new { pageCust, sortOrderCust = ViewBag.CurrentSortCust, currentFilterCust = ViewBag.CurrentFilterCustomer }))
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        &copy; Actual I.T., d.d. 
                    </div>
                </div>
            </div><!-- /.container -->
