@model AdminRole.Models.UsersTable
@{
    ViewBag.Title = "Message Viewer";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    <div class="prijavno-okno_delete">
        <h3 class="deleteMessage">Are you sure you whant to delete this user?</h3>
        <fieldset>
            <legend>User to delete</legend>
            <label>User ID</label>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.userID, new {disabled = "disabled", @readonly = "readonly" })
            </div>
            <label>Username</label>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.username, new {disabled = "disabled", @readonly = "readonly" })
            </div>
            <label>Time Zone</label>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.TimeZoneId, new {disabled = "disabled", @readonly = "readonly" })
            </div>

            <div class="obvestilo-delete">
                Note! By deleting user, you will also delete Destinations for this user!
            </div>

            @Html.HiddenFor(model => model.password)
            @Html.HiddenFor(model => model.passwordSalt)
            @Html.HiddenFor(model => model.Roles)

            <input class="gumb_delete" type="submit" name="action" value="Delete"/>
            
            <input class="gumb_back_to-edit2" type="button" value="Back to Edit Menu" onclick="RedirectToEdit()"/> 
            <script type="text/javascript">
                function RedirectToEdit() {
                var url = "@Url.Action("Registracija")";
                location.href = url;
                }
            </script>
        </fieldset>
    </div>
}

<div>
    <script type="text/javascript">
        function Redirect() {
            var url = "@Url.Action("Registracija")";
            location.href = url;
        }
    </script>
</div>
