@model AdminRole.Models.UsersTable

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="container top">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">			  
                <div class="page-header"><h2>Izbriši uporabnika</h2></div>
				
                <div role="form" class="delete-users">
                    <p class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Ali ste prepričani, da želite izbrisati tega uporabnika?</p>
                    <div class="form-group">
                        <label for="us">Id uporabnika</label>
                        @Html.TextBoxFor(model => model.userID, new {disabled = "disabled", @readonly = "readonly", @class="form-control", id="us", placeholder=""})
                    </div>
                    <div class="form-group">
                        <label for="us2">Uporabniško ime</label>
                        @Html.TextBoxFor(model => model.username, new {disabled = "disabled", @readonly = "readonly", @class="form-control", id="us", placeholder=""})
                    </div>
                    <div class="form-group">
                        <label for="us3">Časovna zona</label>
                        @Html.TextBoxFor(model => model.TimeZoneId, new {disabled = "disabled", @readonly = "readonly", @class="form-control", id="us", placeholder=""})
                    </div>
                    <div class="form-group">
                        <label for="us3">Vloga uporabnika</label>
                        @Html.TextBoxFor(model => model.Roles, new {disabled = "disabled", @readonly = "readonly", @class="form-control", id="us", placeholder=""})
                    </div>

                    @Html.HiddenFor(model => model.password)
                    @Html.HiddenFor(model => model.passwordSalt)
                    @Html.HiddenFor(model => model.Roles)

                    <div class="clearfix"></div>
                    <div class="form-group">
                        <p class="warning bg-warning"><strong>Obvestilo!</strong> Z izbrisom uporabnika boste tudi izbrisali njegove stranke!</p>
                    </div>
                    <div class="clearfix"></div><br />
                    <input type="submit" class="btn btn-default pull-left btn-danger" name="action" value="Izbriši">
				    <input type="button" class="btn btn-default pull-right btn-primary" onclick="RedirectToEdit()" value="Nazaj">
				    <script type="text/javascript">
    				    function RedirectToEdit() {
    				        var url = "@Url.Action("Registracija")";
    				        location.href = url;
    				    }
    				</script>

                </div>
				
            </div>
        </div>
		
        <div class="row">
		
            <div class="col-md-12">
                <hr />
                &copy; Actual I.T., d.d. 
            </div>
			
        </div>
		
    </div>
    <!-- /.container -->

}

    <script type="text/javascript">
        function Redirect() {
            var url = "@Url.Action("Registracija")";
            location.href = url;
        }
    </script>