@model AdminRole.Models.KraticeTable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditMessage", "LoginAdmin", FormMethod.Post, new { id = "user-form" }))
{
    @Html.AntiForgeryToken()
    <div class="container top">
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-header"><h2>Uredi sporočilo</h2></div>
                <div role="form" class="delete-users">
                    <div class="form-group">
                        <label for="us">Sporočilo</label>
                        @Html.TextBoxFor(model => model.Kratica, new {@class="form-control", id="us", placeholder="" })
                    </div>
                    
                    <div class="form-group">
                        <label>Slovenski opis: </label>
                        @Html.TextBoxFor(model => model.OpisSlo, new {@class="form-control"})
                    </div>
                    
                    <div class="form-group">
                        <label>Angleški opis: </label>
                        @Html.TextBoxFor(model => model.OpisAng, new {@class="form-control"})
                    </div>

                    @Html.HiddenFor(model => model.Id_K) 
                    
                    <div class="clearfix"></div><br />
                    <input class="btn btn-default pull-left btn-primary" type="submit" name="action" value="Shrani spremembe"/>
                    <input class="btn btn-default pull-right btn-primary" type="button" value="Nazaj" onclick="RedirectToEdit()"/>  
                </div>               
            </div>            
        </div>
        
        <div class="row">		
            <div class="col-md-12">
                <hr />
                &copy; Actual I.T., d.d. 
            </div>			
        </div>
    </div><!-- /.container -->
                        
}

    <script type="text/javascript">
        function RedirectToEdit() {
            var url = "@Url.Action("KraticeView")";
            location.href = url;
        }
    </script>
