@*@using System.Collections
@using AdminRole.Models*@
@model AdminRole.Models.UserModel

@{
    ViewBag.Title = "Message Viewer";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "LoginAdmin", FormMethod.Post, new {id = "user-form"})) {

    @Html.AntiForgeryToken()
    <div class="prijavno-okno_edit">
        <fieldset>
            <legend>Edit users</legend>
        
            <label>Username </label> 
            <div class="editor-field2">
                @Html.TextBoxFor(model => model.User.username, new {disabled = "disabled", @readonly = "readonly" })
            </div>

            <label>Time Zone</label>
            <div class="editor-field2">
                @Html.DropDownListFor(o => o.User.TimeZoneId, TimeZoneInfo.GetSystemTimeZones().Select(o => new SelectListItem{Text = o.DisplayName, Value = o.Id}))
                @Html.ValidationMessageFor(model => model.User.TimeZoneId)
            </div>
            
            <label>User Role</label>
            <div class="editor-label">
                @Html.DropDownList("VlogaNaziv", ((SelectList) ViewBag.DropListVloge).Select(t => new SelectListItem(){Text = t.Text, Value = t.Text, Selected = (t.Text == ViewBag.SelectedVloga)}), Model.VlogaNaziv)
            </div>

            <label>Destination</label>
            <div class="editor-field2">
                <button class="add-custom">Add Destination</button>
            </div>
            
            @Html.HiddenFor(model => model.User.userID)
            @Html.HiddenFor(model => model.User.username)
            @Html.HiddenFor(model => model.User.password)
            @Html.HiddenFor(model => model.User.passwordSalt)
            @*@Html.HiddenFor(model => model.User.Roles)*@

            <table class="custommers-tabela">
                <thead>
                    <th>Destinations</th>
                </thead>
                <tbody>
                    @for (var i=0; i < Model.User.CustomerTables.Count; i++)
                    {
                        <tr>
                            <td width="85%">
                                @Html.DropDownListFor(o => o.User.CustomerTables[i].CustomType.Id_NewCustomerType, Model.GetCustomTypes(Model.User.CustomerTables[i].CustomType.Id_NewCustomerType), "-- Select --")
                            </td>
                            <td width="10%">
                                @*@Model.User.CustomerTables[i].CustomType.Id_NewCustomerType*@
                                @Html.HiddenFor(o => o.User.CustomerTables[i].CustomerID)
                                @Html.HiddenFor(o => o.User.CustomerTables[i].UserId)
                                @Html.HiddenFor(o => o.User.CustomerTables[i].Customer)
                                <input class="delete-custom" type="image" src="~/Content/images/delete2.png" data-id="@i"/>
                            </td>
                        </tr>
                    }   
                </tbody>
            </table>

            <p>To delete Destinations click on <img src="~/Content/images/delete2.png"/> button.</p>
            <input class="gumb_create" type="submit" name="action" value="Save changes"/>
            <input class="gumb_back_to-edit2" type="button" value="Back to Edit Menu" onclick="RedirectToEdit()"/> 
            <script type="text/javascript">
                function RedirectToEdit() {
                    var url = "@Url.Action("Registracija")";
                    location.href = url;
                }
            </script>
        </fieldset>
        @Html.ValidationSummary(false)
    </div>
}

<div>
    <script type="text/javascript">
        $(function () {

            $('.add-custom').on('click', function (e) {
                e.preventDefault();
                var form = $('#user-form').serialize();
                form += "&act=addcustom";

                $.post('/LoginAdmin/Edit', form, function (data) {
                    $('#user-form').replaceWith(data);
                });
            });

            $('.delete-custom').on('click', function (e) {
                e.preventDefault();
                var form = $('#user-form').serialize();
                form += "&act=deletecustom&idx=" + $(this).data('id');

                $.post('/LoginAdmin/Edit', form, function (data) {
                    $('#user-form').replaceWith(data);
                });
            });

            $("#user-form").submit(function (e) {
                e.preventDefault();
                var form = $('#user-form').serialize();
                form += "&act=save";
                $.post('/LoginAdmin/Edit', form, function (data) {
                    if (data == "success")
                        Redirect();
                    else
                        $('#user-form').replaceWith(data);
                });
            });

        });

        function Redirect() {
            var url = "@Url.Action("Registracija")";
            location.href = url;
        }

    </script>
</div>
