@using System.Net.Http
@model AdminRole.Models.UserModel

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "LoginAdmin", FormMethod.Post, new {id = "user-form"})) {

    @Html.AntiForgeryToken()
    <div class="container top">
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-header"><h2>Uredi uporabnika</h2></div>
                <div role="form" class="delete-users">
                    <div class="form-group">
                        <label for="us">Uporabniško ime</label>
                        @Html.TextBoxFor(model => model.User.username, new {disabled = "disabled", @readonly = "readonly", @class="form-control", id="us", placeholder="" })
                    </div>
                    
                    <div class="form-group">
                        <label>Časovna zona</label>
                        @Html.DropDownListFor(o => o.User.TimeZoneId, TimeZoneInfo.GetSystemTimeZones().Select(o => new SelectListItem{Text = o.DisplayName, Value = o.Id}), new {@class="form-control"})
                        @Html.ValidationMessageFor(model => model.User.TimeZoneId)
                    </div>
                    
                    <div class="form-group">
                        <label>Vloga uporabnika</label>
                        @Html.DropDownList("VlogaNaziv", ((SelectList) ViewBag.DropListVloge).Select(t => new SelectListItem(){Text = t.Text, Value = t.Text, Selected = (t.Text == ViewBag.SelectedVloga)}), Model.VlogaNaziv, new {@class="form-control"})
                    </div>

                    @Html.HiddenFor(model => model.User.userID)
                    @Html.HiddenFor(model => model.User.username)
                    @Html.HiddenFor(model => model.User.password)
                    @Html.HiddenFor(model => model.User.passwordSalt)
                    
                    <div class="row customers">
                        <label class="col-sm-2">Stranka</label>
                        <div class="col-sm-8">                            
                            @for (var i=0; i < Model.User.CustomerTables.Count; i++)
                            {
                                <div class="ud">
                                    <select name="@Html.Raw("User.CustomerTables["+i+"].CustomType.Id_NewCustomerType")" class="form-control pull-left">
                                        <option value="">Select</option>
                                        @foreach (var opt in Model.CustomTypes)
                                        {
                                            <option value="@opt.Id_NewCustomerType" @Html.Raw(opt.Id_NewCustomerType == Model.User.CustomerTables[i].CustomType.Id_NewCustomerType ? "selected" : "")>@opt.CustomerType</option>
                                        }

                                    </select>
                                    <input type="hidden" value="@Html.Raw(Model.User.CustomerTables[i].CustomerID)" name="@Html.Raw("User.CustomerTables["+i+"].CustomerID")"/>
                                    <input type="hidden" value="@Html.Raw(Model.User.CustomerTables[i].UserId)" name="@Html.Raw("User.CustomerTables["+i+"].UserId")"/>
                                    <input type="hidden" value="@Html.Raw(Model.User.CustomerTables[i].Customer)" name="@Html.Raw("User.CustomerTables["+i+"].Customer")"/>
                                    <button type="button" class="btn btn-danger pull-left delete-custom" data-id="@i">X</button>   
                                </div>                                                                                           
                            }
                        </div>        
                    </div> 
                    <div class="clearfix"></div> 
                    <div class="form-group">
                        <label>Stranka</label>
                        <button class="btn btn-success add-custom">Dodaj stranko</button>
                    </div>
                    <div class="clearfix"></div><br />
                    <input class="btn btn-default pull-left btn-primary" type="submit" name="action" value="Shrani spremembe"/>
                    <input class="btn btn-default pull-right btn-primary" type="button" value="Nazaj" onclick="RedirectToEdit()"/> 
                    <script type="text/javascript">
                        function RedirectToEdit() {
                            var url = "@Url.Action("Registracija")";
                            location.href = url;
                        }
                    </script>    
                </div>               
            </div>            
        </div>
       
        @Html.ValidationSummary(false)
        
        <div class="row">		
            <div class="col-md-12">
                <hr />
                &copy; Actual I.T., d.d. 
            </div>			
        </div>

    </div><!-- /.container -->
}

    <script type="text/javascript">
        $(function () {

            $('.add-custom').on('click', function (e) {
                e.preventDefault();
                var form = $('#user-form').serialize();
                form += "&act=addcustom";

                $.post('/LoginAdmin/Edit', form, function (data) {
                    $('#user-form').replaceWith(data);
                });
            });

            $('.delete-custom').on('click', function (e) {
                e.preventDefault();
                var form = $('#user-form').serialize();
                form += "&act=deletecustom&idx=" + $(this).data('id');

                $.post('/LoginAdmin/Edit', form, function (data) {
                    $('#user-form').replaceWith(data);
                });
            });

            $("#user-form").submit(function (e) {
                e.preventDefault();
                var form = $('#user-form').serialize();
                form += "&act=save";
                $.post('/LoginAdmin/Edit', form, function (data) {
                    if (data == "success")
                        Redirect();
                    else
                        $('#user-form').replaceWith(data);
                });
            });

        });

        function Redirect() {
            var url = "@Url.Action("Registracija")";
            location.href = url;
        }

    </script>

