@{
    Layout = null;
}

@using AdminRole.Helpers
@using AdminRole.Models
@model AdminRole.Models.PaginationInfo

<ul class="pagination">

    @if (Model.HasPrevPage)
    {
        <li><a href="@Model.PrevPageUrl">&laquo;</a></li>
    }
    else
    {
        <li><a>&laquo;</a></li>
    }

    @foreach (var p in Model.Pages)
    {
        if (p == Model.CurrentPage)
        {
            <li class="active"><a>@p</a></li>
        }
        else
        {
            <li><a href="@Model.PageUrlFor(p)">@p</a></li>
        }
    }

    @if (Model.HasNextPage)
    {
        <li><a href="@Model.NextPageUrl">&raquo;</a></li>
    }
    else
    {
        <li><a>&raquo;</a></li>
    }
    
</ul>