@model PagedList.IPagedList<AdminRole.Models.UsersTable>
@using AdminRole.Models
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @using (Html.BeginForm("Registracija", "LoginAdmin", FormMethod.Get))
    {
        <section class="header">
	    <div class="container top">
		    <div class="row">
		        <div class="col-md-12">
		            <nav class="navbar">
		                <div class="container-fluid">
		                    <!-- Collect the nav links, forms, and other content for toggling -->
		                    <div>
		                        <div class="navbar-left">
		                            <p class="navbar-text">Najdi uporabnika:</p>
		                            <div class="navbar-form navbar-left" role="search">
		                                <div class="form-group">
		                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class="form-control" })		                                 
		                                </div>
		                                <button type="submit" class="btn btn-primary">Išči...</button>
		                            </div>
		                        </div>

		                        <div class="navbar-right">
		                            <button type="button" class="btn btn-primary" onclick="Redirect()">Novi uporabnik</button>
		                            <script type="text/javascript">
                            		    function Redirect() {
                            		        var url = "@Url.Action("CreateNew")";
                            		        location.href = url;
                            		    }
                            		</script>

		                            <button type="button" class="btn btn-info" onclick="RedirectCreate()">Pregled strank</button>
		                            <script type="text/javascript">
                            		    function RedirectCreate() {
                            		        var url = "@Url.Action("CustomerTypeView")";
                            		        location.href = url;
                            		    }
                            		</script>
		                        </div>
		                    </div><!-- /.navbar-collapse -->
		                </div><!-- /.container-fluid -->
		            </nav>
		        </div>
		    </div>
	    </div>
	    </section>
        
    }
    
    <div class="container">                                      
        <div class="template">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID uporabnika</th>
                    <th>@Html.ActionLink("Uporabniško ime", "Registracija", new {sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter})</th>
                    <th>Časovna zona</th>
                    <th>Vloga uporabnika</th>
                    <th>Uredi</th>
                </tr>
            </thead>
            @foreach (var use in Model)
            {
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => use.userID)</td>
                    <td>@Html.DisplayFor(modelItem => use.username)</td>
                    <td>@Html.DisplayFor(modelItem => use.TimeZoneId)</td>
                    <td>
                        @String.Join(",", new userDbEntities().VlogaUporabnikas.Where(rt => rt.Id_Vloga == use.Roles).Select(r => r.Naziv))
                    </td>
                    <td>
                        @Html.ActionLink("Uredi uporabnika", "Edit", new { id=use.userID }) |
                        @Html.ActionLink("Izbriši", "Delete", new { id=use.userID }) 
                    </td>
                </tr>                                            
            </tbody>   
            }                        
	    </table>
        </div>
        
        <div class="row">
            @Html.PagedListPager(Model, page => Url.Action("Registracija", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>

        <div class="row">
        <div class="col-md-12">
            <hr />
            &copy; Actual I.T., d.d. 
        </div>
    </div>	

</div><!-- /.container -->


