@{
    Layout = null;
}

@using AdminRole.Helpers
@using AdminRole.Models
@model AdminRole.Models.PaginationInfo

@*<b><div class="status lnk1">Rezultati @Model.FirstItemIndex - @Model.LastItemIndex</div></b>*@

    <div class="pagination">

    @if (Model.HasPrevPage)
    {
        <a href="@Model.PrevPageUrl">&laquo; Previous</a>
    }
    else
    {
        <span class="disabledPage">&laquo; Previous</span>
    }

    @foreach (var p in Model.Pages)
    {
        if (p == Model.CurrentPage)
        {
            <span class="currentPage">@p</span>
        }
        else
        {
            <a href="@Model.PageUrlFor(p)">@p</a>
        }
    }

    @if (Model.HasNextPage)
    {
        <a href="@Model.NextPageUrl">Next &raquo;</a>
    }
    else
    {
        <span class="disabledPage">Next &raquo;</span>
    }
    
    </div>


