@using System.Security.Policy
@using System.Web.Providers.Entities
@using System.Web.UI.WebControls
@using AdminRole.Helpers
@using AdminRole.HtmlHelpers
@using AdminRole.Models
@using System.Web.Mvc.Html
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="favicon.ico">

        <title>Message Viewer</title>

        <!-- Bootstrap core CSS -->
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="@Url.Content("~/Content/style.css")" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/vnd.microsoft.icon" />
        <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/vnd.microsoft.icon" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
        <script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

        <link href="@Url.Content("~/Content/DateTimePicker.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
        <script type="text/javascript" src="~/Scripts/timepicker.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.datepicker').datetimepicker({
                    showAnim: 'slideDown',
                    dateFormat: 'yy-mm-dd'
                });
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function() {
                //called when key is pressed in textbox
                $(".quantity").keypress(function(e) {
                    //if the letter is not digit then display error and don't type anything
                    $(".quantity").attr("placeholder");
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        //display error message
                        return false;
                    }
                });
            });
        </script>
        
    </head>

    <body class = "no-bg">
            @if (Request.IsAuthenticated)
            {
                string userName = System.Web.HttpContext.Current.User.Identity.Name;
                using (var dbUs = new userDbEntities())
                {
                    var currentUser = dbUs.UsersTables.FirstOrDefault(u => u.username == userName);
                    if (currentUser != null)
                    {
                        if (currentUser.VlogaUporabnika.Id_Vloga == VlogaEnum.Administrator || currentUser.VlogaUporabnika.Id_Vloga == VlogaEnum.Spediter || currentUser.VlogaUporabnika.Id_Vloga == VlogaEnum.SpediterOsnovni)
                        {
                            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-envelope"></span> Message Viewer</a>
                                    </div>
                                
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        
                                        @if (currentUser.VlogaUporabnika.Id_Vloga == VlogaEnum.Administrator)
                                        {
                                        <ul class="nav navbar-nav navbar-left">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-home"></span> Menu<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="@Url.Action("AdminIndex", "LoginAdmin")">Solr rezultati</a></li>
                                                    <li><a href="@Url.Action("Registracija", "LoginAdmin")">Uredi uporabnike</a></li>
                                                    <li><a href="@Url.Action("KraticeView", "LoginAdmin")">Sporočila</a></li>
                                                </ul>
                                            </li>

                                        </ul>    
                                        }
                                        
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dobrodošel: @Html.Encode(User.Identity.Name)<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                     
                                                    <li><a href="@Url.Action("LogOut", "Home")"><span class="glyphicon glyphicon-off"></span> Odjava</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div><!-- /.navbar-collapse -->
                                </div> <!-- /.container-fluid --> 
                            </div>                  
                        }
                    }
                }
            }
           
        @RenderBody()

    </body>
</html>
